.btn-light-bordered {
  border: 1px solid #c0c1c2;
}

.btn-light-bordered:hover {
  border: 1px solid #c0c1c2;
  background-color: #e5e7e9;
}
table {
  border-collapse: collapse;
}

table.table-interval tr:nth-child(even) {
  @apply bg-slate-200 hover:bg-lime-300 hover:text-slate-700;
}
table.table-interval tr:nth-child(od) {
  @apply bg-white hover:bg-lime-300 hover:text-slate-700;
}
.table-fixed {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0);
}
